.markdown {
	@apply text-lg md:text-xl my-4 leading-relaxed;
}

.markdown img {
	@apply h-auto w-full object-cover max-h-96 my-10 rounded-xl;
}

.markdown p,
.markdown ul,
.markdown ol {
	@apply font-sans;
}

.markdown-serif p,
.markdown-serif ul,
.markdown-serif ol {
  @apply font-serif;
}

.markdown ul {
	list-style-type: disc;
}

.markdown ul ul {
	list-style-type: circle;
}

.markdown ol {
	list-style-type: decimal;
}

.markdown ul,
.markdown ol {
	list-style-position: inside;
	@apply ml-4 pl-4;
}

.markdown li {
	@apply my-1
}

.markdown h1 {
	@apply text-3xl my-8 leading-snug font-bold font-sans;
}

.markdown h2 {
	@apply text-2xl my-8 leading-snug font-bold font-sans;
}

.markdown h3 {
	@apply text-xl my-6 leading-snug font-bold font-sans;
}

.markdown h4 {
	@apply text-xl my-4 leading-snug font-bold font-sans;
}

.markdown h5 {
	@apply text-base md:text-lg my-2 leading-snug font-bold font-sans;
}

.markdown h6 {
	@apply text-base md:text-lg my-2 leading-snug font-sans;
}

.markdown pre {
	@apply p-4 my-4 rounded-xl bg-gray-800 text-white;
	overflow-x: auto;
}

.markdown code {
	@apply font-mono text-sm;
}

.markdown p code,
.markdown li code,
.markdown span code {
	@apply px-1 rounded-sm bg-gray-300 text-gray-800;
}
