.markdown p {
	@apply my-8 leading-relaxed;
}

.markdown blockquote,
.markdown blockquote p,
.markdown blockquote ul,
.markdown blockquote ol {
  @apply text-fuchsia-800 text-lg;
}

.markdown blockquote {
  @apply rounded-2xl drop-shadow-lg px-4 py-1 my-8 relative bg-opacity-90 md:backdrop-blur-lg;
  padding-left: 1.5rem; 
  position: relative;
  background-color: rgba(250, 232, 255, 0.8);
}

.markdown blockquote::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0.25rem;
  @apply bg-fuchsia-700 rounded-xl pointer-events-none;
}
