.markdown {
  @apply text-lg md:text-xl my-4 leading-relaxed;
}

.markdown img {
  @apply h-auto w-full object-cover max-h-96 my-10 rounded-xl;
}

.markdown p {
  @apply my-8 leading-relaxed;
}

.markdown p,
.markdown ul,
.markdown ol {
  @apply font-arial;
}

.markdown-serif p,
.markdown-serif ul,
.markdown-serif ol {
  @apply font-tnr;
}

.markdown blockquote,
.markdown blockquote p,
.markdown blockquote ul,
.markdown blockquote ol {
  @apply opacity-80 text-fuchsia-800 text-lg font-arial;
}

.markdown ul {
  list-style-type: disc;
}

.markdown ul ul {
  list-style-type: circle;
}

.markdown ol {
  list-style-type: decimal;
}

.markdown ul,
.markdown ol {
  list-style-position: inside;
  @apply ml-4 pl-4;
}

.markdown li {
  @apply my-1
}

.markdown blockquote {
  @apply rounded-2xl drop-shadow-lg p-4 my-8 relative backdrop-blur-lg bg-opacity-80;
  padding-left: 1.5rem; 
  position: relative;
  background-color: rgba(250, 232, 255, 0.8);
}

.markdown blockquote::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0.25rem;
  @apply bg-fuchsia-700 rounded-xl pointer-events-none;
}

.markdown h1 {
  @apply text-3xl my-8 leading-snug font-bold font-arial;
}

.markdown h2 {
  @apply text-2xl my-8 leading-snug font-bold font-arial;
}

.markdown h3 {
  @apply text-xl my-6 leading-snug font-bold font-arial;
}

.markdown h4 {
  @apply text-xl my-4 leading-snug font-bold font-arial;
}

.markdown h5 {
  @apply text-base md:text-lg my-2 leading-snug font-bold font-arial;
}

.markdown h6 {
  @apply text-base md:text-lg my-2 leading-snug font-arial;
}
