@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes move-about-bg {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.8);
    }
}

@keyframes move-zimo-bg {
    0%, 50%, 100% {
        transform: translateX(0) scale(1);
    }
    25% {
        transform: translateX(10vw) scale(1.4);
    }
    75% {
        transform: translateX(-10vw) scale(1.4);
    }
}

@keyframes move-zimo-bg-reversed {
    0%, 50%, 100% {
        transform: translateX(0) scale(1);
    }
    75% {
        transform: translateX(10vw) scale(1.4);
    }
    25% {
        transform: translateX(-10vw) scale(1.4);
    }
}

@keyframes move-glass-group {
    0%, 50%, 100% {
        transform: translateX(0) scale(1);
    }
    25% {
        transform: translateX(10px) translateY(10px) scale(1.05);
    }
    75% {
        transform: translateX(-10px) translateY(-10px) scale(1.05);
    }
}

@keyframes move-glass-individual-1 {
    0%, 100% {
        transform: translateX(calc(0px + var(--tw-translate-x))) translateY(calc(0px + var(--tw-translate-y))) scale(1);
    }
    10% {
        transform: translateX(calc(1.3px + var(--tw-translate-x))) translateY(calc(3.6px + var(--tw-translate-y))) scale(0.98);
    }
    20% {
        transform: translateX(calc(-2.7px + var(--tw-translate-x))) translateY(calc(0.8px + var(--tw-translate-y))) scale(1.02);
    }
    30% {
        transform: translateX(calc(3.5px + var(--tw-translate-x))) translateY(calc(-1.2px + var(--tw-translate-y))) scale(0.97);
    }
    40% {
        transform: translateX(calc(-0.9px + var(--tw-translate-x))) translateY(calc(2.4px + var(--tw-translate-y))) scale(1.04);
    }
    50% {
        transform: translateX(calc(2.2px + var(--tw-translate-x))) translateY(calc(-2.8px + var(--tw-translate-y))) scale(1.01);
    }
    60% {
        transform: translateX(calc(2.9px + var(--tw-translate-x))) translateY(calc(2.1px + var(--tw-translate-y))) scale(0.95);
    }
    70% {
        transform: translateX(calc(-1.8px + var(--tw-translate-x))) translateY(calc(-0.3px + var(--tw-translate-y))) scale(1.03);
    }
    80% {
        transform: translateX(calc(0.6px + var(--tw-translate-x))) translateY(calc(3.2px + var(--tw-translate-y))) scale(0.96);
    }
    90% {
        transform: translateX(calc(-3.4px + var(--tw-translate-x))) translateY(calc(-1.6px + var(--tw-translate-y))) scale(1.05);
    }
}

@keyframes move-glass-individual-2 {
    0%, 100% {
        transform: translateX(calc(0px + var(--tw-translate-x))) translateY(calc(0px + var(--tw-translate-y))) scale(1);
    }
    10% {
        transform: translateX(calc(-0.6px + var(--tw-translate-x))) translateY(calc(2.7px + var(--tw-translate-y))) scale(0.99);
    }
    20% {
        transform: translateX(calc(3.2px + var(--tw-translate-x))) translateY(calc(-1.1px + var(--tw-translate-y))) scale(1.03);
    }
    30% {
        transform: translateX(calc(-3.4px + var(--tw-translate-x))) translateY(calc(1.8px + var(--tw-translate-y))) scale(0.96);
    }
    40% {
        transform: translateX(calc(2.7px + var(--tw-translate-x))) translateY(calc(0.4px + var(--tw-translate-y))) scale(1.02);
    }
    50% {
        transform: translateX(calc(1.2px + var(--tw-translate-x))) translateY(calc(-3.9px + var(--tw-translate-y))) scale(0.97);
    }
    60% {
        transform: translateX(calc(-2.5px + var(--tw-translate-x))) translateY(calc(2.3px + var(--tw-translate-y))) scale(1.04);
    }
    70% {
        transform: translateX(calc(0.9px + var(--tw-translate-x))) translateY(calc(-2.7px + var(--tw-translate-y))) scale(1.01);
    }
    80% {
        transform: translateX(calc(-1.3px + var(--tw-translate-x))) translateY(calc(1.6px + var(--tw-translate-y))) scale(0.95);
    }
    90% {
        transform: translateX(calc(2.8px + var(--tw-translate-x))) translateY(calc(-0.8px + var(--tw-translate-y))) scale(1.00);
    }    
}

@keyframes move-painting-glow {
    0%, 100% {
        transform: scale(1);
    }
    33.33% {
        transform: scale(1.03);
    }  
    66.67% {
        transform: scale(0.97);
    }
}

@keyframes spin {
    from {
      transform: rotate(calc(0deg + var(--tw-rotate))) translate(var(--tw-translate-x), var(--tw-translate-y));
    }
    to {
      transform: rotate(calc(360deg + var(--tw-rotate))) translate(var(--tw-translate-x), var(--tw-translate-y));
    }
}

.zimo-svg-filter {
    filter: invert(0%) sepia(5%) saturate(3965%) hue-rotate(332deg) brightness(88%) contrast(84%);
}

.photos-svg-filter {
    filter: invert(19%) sepia(48%) saturate(2103%) hue-rotate(350deg) brightness(96%) contrast(94%);
}

.photos-glass-1 {
    filter: hue-rotate(12deg);
}

.photos-glass-2 {
    filter: hue-rotate(16deg);
}

.photos-glass-3 {
    filter: hue-rotate(20deg);
}

.photos-glass-4 {
    filter: hue-rotate(24deg);
}

.blog-svg-filter {
    filter: invert(11%) sepia(70%) saturate(4274%) hue-rotate(287deg) brightness(92%) contrast(90%);
}

.projects-svg-filter {
    filter: invert(21%) sepia(10%) saturate(5335%) hue-rotate(134deg) brightness(94%) contrast(85%);
}

.about-svg-filter {
    filter: invert(19%) sepia(35%) saturate(3181%) hue-rotate(178deg) brightness(93%) contrast(91%);
}

.bar-color-zimo {
    background-color: rgba(250, 250, 250, 0.333);
}

.bar-color-photos {
    background-color: rgba(255, 247, 237, 0.333);
}

.bar-color-blog {
    background-color: rgba(253, 244, 255, 0.333);
}

.bar-color-projects {
    background-color: rgba(240, 253, 250, 0.333);
}

.bar-color-about {
    background-image: url('/about-pane-translucent.svg');
    background-position: center;
    background-size: cover;
}

.painting-size {
    height: min(80vw, 80vh);
    width: auto;
}

.cog-size {
    height: min(90vw, 90vh);
    width: auto;
}

.zimo-profile-size {
    height: min(80vw, 80vh);
    width: auto;
}

.zimo-vertical-size {
    height: min(75vw, 75vh);
    width: auto;
}

.-translate-x-1\/6 {
    --tw-translate-x: -16.7%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-x-1\/6 {
    --tw-translate-x: 16.7%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-1\/6 {
    --tw-translate-y: 16.7%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-y-1\/6 {
    --tw-translate-y: -16.7%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-cog-yin {
    --tw-translate-y: -28%;
    --tw-translate-x: 28%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-cog-yang {
    --tw-translate-y: 28%;
    --tw-translate-x: -28%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-cog-yin {
    --tw-rotate: 22.5deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-cog-yang {
    --tw-rotate: 0deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.flex-grow-navbar {
    flex-grow: 2;
}

.blog-view {
    background-color: rgba(251, 240, 255, 0.8);
}

.blog-card-color {
    background-color: rgba(251, 240, 255, 0.7);
}

.blog-grid {
    width: 16rem;
}

.-z-5 {
    z-index: -5;
}

@font-face {
    font-family: 'Arial-Black-Local';
    src: url('/fonts/Arial Black.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Arial-Local";
    src: url("/fonts/Arial/Arial.ttf");
    font-style: normal;
    font-weight: 400;
  }
  
@font-face {
    font-family: "Arial-Local";
    src: url("/fonts/Arial/Arial Bold.ttf");
    font-style: normal;
    font-weight: 700;
}
  
@font-face {
    font-family: "Arial-Local";
    src: url("/fonts/Arial/Arial Italic.ttf");
    font-style: italic;
    font-weight: 400;
}
  
@font-face {
    font-family: "Arial-Local";
    src: url("/fonts/Arial/Arial Bold Italic.ttf");
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "TNR-Local";
    src: url("/fonts/TNR/Times New Roman.ttf");
    font-style: normal;
    font-weight: 400;
  }
  
@font-face {
    font-family: "TNR-Local";
    src: url("/fonts/TNR/Times New Roman Bold.ttf");
    font-style: normal;
    font-weight: 700;
}
  
@font-face {
    font-family: "TNR-Local";
    src: url("/fonts/TNR/Timrs New Roman Italic.ttf");
    font-style: italic;
    font-weight: 400;
}
  
@font-face {
    font-family: "TNR-Local";
    src: url("/fonts/TNR/Times New Roman Bold Italic.ttf");
    font-style: italic;
    font-weight: 700;
}

.first-pov-text {
    color: #a21caf;
}

.second-pov-text {
    color: #be123c;
}

.prophet-pov-text {
    color: #ea580c;
}

.max-w-60 {
    max-width: 15rem/* 240px */;
}

.max-w-96 {
    max-width: 24rem/* 384px */;
}

.image-popup-size {
    height: min(90vw, 90vh);
    width: auto;
}

.group:hover .group-hover\:top-26 {
    top: 6.667rem;
}

.projects-popup-bg {
    background-color: rgb(240, 253, 250);
}

.projects-page-bg {
    background-color: rgba(240, 253, 250, 0.85);
}

@media (min-width: 768px) {
    .md\:blog-view-middle {
        width: 52rem;
    }

    .md\:max-w-80 {
        max-width: 20rem/* 320px */;
    }

    .group:hover .special-top-38-md {
        top: 9.5rem;
    }

    .w-menu-slide-desktop {
        width: min(40rem, 90vw);
    }
    
}

.rounded-glass-pane {
    border-radius: 21px;
}

.color-glass-pane-base {
    background-color: rgb(255, 242, 229);
}

.z-60 {
    z-index: 60;
}

.z-70 {
    z-index: 70;
}

.z-80 {
    z-index: 80;
}

.z-90 {
    z-index: 90;
}

.border-menu-entry {
    border-width: 0.8px;
}

.border-photos-comment {
    border-top-width: 0.8px;
}

.border-photos-comment-mobile {
    border-top-width: 0.8px;
    border-bottom-width: 0.8px;
}

.border-slider {
    border-width: 0.6px;
}

.border-menu-rule {
    border-width: 0.4px;
}

.border-flip {
    border-width: 2.25px;
}

.zimo-flip-filter {
    filter: invert(24%) sepia(34%) saturate(0%) hue-rotate(240deg) brightness(95%) contrast(96%);
}

.photos-flip-filter {
    filter: invert(32%) sepia(75%) saturate(1327%) hue-rotate(350deg) brightness(87%) contrast(104%);
}

.projects-flip-filter {
    filter: invert(35%) sepia(89%) saturate(404%) hue-rotate(126deg) brightness(87%) contrast(94%);
}

.blog-flip-filter {
    filter: invert(16%) sepia(78%) saturate(4607%) hue-rotate(289deg) brightness(84%) contrast(91%);
}

.about-flip-filter {
    filter: invert(23%) sepia(98%) saturate(1268%) hue-rotate(177deg) brightness(103%) contrast(98%);
}

.translate-x-flip-mobile {
    --tw-translate-x: 25px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@media (min-width: 768px) {
    .translate-x-flip {
        --tw-translate-x: 30.8px;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    }
}

.-translate-y-2\.25 {
    --tw-translate-y: -9px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-y-0\.75 {
    --tw-translate-y: -2.5px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.w-slider-bar {
    width: 90%;
}

.min-w-background-richness {
    min-width: 210px;
}

.scale-135 {
    --tw-scale-x: 1.35;
    --tw-scale-y: 1.35;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.bg-slider-highlight {
    --tw-bg-opacity: 1;
    background-color: rgb(248 248 248 / var(--tw-bg-opacity));
}

.katex-html {
    @apply sr-only;
}

.h-placeholder {
    height: 100rem;
}

.right-13 {
    right: 3.25rem;
}

.w-42 {
    width: 10.5rem;
}

.mr-1.4 {
    margin-right: 0.35rem;
}
